@model MVC.Models.Person

<div class="row">
    <div class="col-1 text-truncate border-end border-bottom">
        @Html.DisplayFor(modelItem => Model.Id)
    </div>
    <div class="col text-truncate border-end border-bottom">
        @Html.DisplayFor(modelItem => Model.Name)
    </div>
    <div class="col text-truncate border-end border-bottom">
        @Html.DisplayFor(modelItem => Model.City.Name)
    </div>
    <div class="col text-truncate border-end border-bottom">
        @Html.DisplayFor(modelItem => Model.PhoneNumber)
    </div>
    <div class="col-3 text-truncate border-bottom">
        <a onclick="event.preventDefault(); remove(@Model.Id)" asp-controller="People" asp-action="Remove" asp-route-id="@Model.Id">Remove</a>
    </div>
</div>

<script>
    function remove(id) {
        $.get("People/Remove/" + id, function (data) {
            $("#peoplePanel").html(data);
        });
        return false;
    }
</script>